.card {
	height: 25rem;
	width: 18.75rem;
	border-radius: 1.25rem;
	margin: 0.5rem;
	h1 {
		color: #222;
	}
	p {
		color: #222;
	}
	text-align: center;
	img {
		margin: 0 auto;
		margin-top: 1.25rem;
		height: 5rem;
	}
	.button {
		margin: 0 auto;
		width: 6rem;
		padding: 0.6rem 0;

		height: 1.5rem;
		font-weight: 900;
		font-size: 1.25rem;
		border-radius: 1.25rem;
		outline: none;
		:active {
			outline: none;
		}
	}
}
