@import '../../index.scss';
.card {
	height: 25rem;
	width: 18.75rem;
	// border-radius: 0.7rem;
	margin: 0.5rem;

	// background-color: #272727;

	// box-shadow: -2px -2px 8px #7a7a7a, 4px 4px 7px #ffdada;
	appearance: none;
	-webkit-appearance: none;

	text-align: center;
	img {
		margin: 0 auto;
		margin-top: 1.25rem;
		height: 5rem;
	}
	.button {
		margin: 0 auto;
		min-width: 7rem;
		width: fit-content;

		padding: 0.6rem 2rem;
		// span {
		// 	padding: 0 0.7rem;
		// }

		height: 1.5rem;

		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		border-radius: 1.25rem;
		outline: none;
	}
}
