.header {
	position: absolute;
	height: 6rem;
	width: 100%;
	// border-radius: 50px;
	background-color: #e7e7e7;
	// background: linear-gradient(145deg, #2a2a2a, #232323);
	box-shadow: 10px 10px 2px #e2e2e2, -10px -10px 2px #ededed;
}
.home {
	// * {
	// 	// border: 1px solid red;
	// }

	background-color: #e7e7e7;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	.outer {
		margin: 0 auto;
		p {
			text-align: center;
		}
		.inner {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

.button {
	margin-top: 7rem;
}
