.header {
	position: absolute;
	height: 6rem;
	width: 100%;

	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;

	.inner {
		width: 60%;
		img {
			height: 5rem;
		}
		display: flex;
		align-items: center;
		p {
			color: white;
			margin: 0 1.225rem;
			.bold {
				font-weight: bold;
			}
			font-size: 1.5rem;
		}
	}
}
.home {
	// background: rgb(22, 31, 38);
	// background: linear-gradient(90deg, rgba(22, 31, 38, 1) 0%, rgba(22, 31, 38, 1) 57%, rgba(42, 56, 66, 1) 100%);
	// * {
	// 	border: 1px solid red;
	// }
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	.outer {
		margin: 0 auto;
		p {
			text-align: center;
		}
		width: 60%;

		.inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

.button {
	margin-top: 7rem;
}
